{% extends 'bonegymain/base.html' %}
{% block content %}
{% load static %}
<br>
<br><br>
<form action="{% url 'result' %}" method="POST">
{% csrf_token %}
  <div class="form-inline col-sm-12 text-center">
    <label class="col-sm-6" style="font-size:30px;">Gene Name: </label>
    <input type="text" class="form-control" id="GeneName" name="GeneName">
  </div>
  <br>
  <div class="col-12 text-center">
    <button type="submit" class="btn btn-success m-5">Search</button>
  </div>
</form>



{% endblock %}